.croissant {
  max-width: 90%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

h1 {
  color: black;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

.photo-body {
  background: #f8e8a6;
}

.footer {
  font-size: 14px;
}
.footer:visited {
  color: green;
}
